<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<context:annotation-config/>
	
	<bean class="org.apache.wink.spring.Registrar">
		<property name="classes">
			<set value-type="java.lang.Class"/>
		</property>
		<property name="instances">
			<set>
				<bean class="uk.co.revsys.objectology.service.rest.TemplateRestService">
					<constructor-arg index="0" ref="templateService"/>
					<constructor-arg index="1" ref="xmlObjectMapper"/>
					<constructor-arg index="2" ref="jsonObjectMapper"/>
					<constructor-arg index="3" ref="templateViewMap"/>
				</bean>
				<bean class="uk.co.revsys.objectology.service.rest.InstanceRestService">
					<constructor-arg index="0" ref="instanceService"/>
					<constructor-arg index="1" ref="xmlObjectMapper"/>
					<constructor-arg index="2" ref="jsonObjectMapper"/>
					<constructor-arg index="3" ref="instanceViewMap"/>
				</bean>
			</set>
		</property>
	</bean>
	
	<bean id="templateService" class="uk.co.revsys.objectology.service.OlogyTemplateServiceImpl">
		<constructor-arg index="0" ref="templateDao"/>
		<constructor-arg index="1" ref="templateValidator"/>
	</bean>
	
	<bean id="instanceService" class="uk.co.revsys.objectology.service.OlogyInstanceServiceImpl">
		<constructor-arg index="0" ref="instanceDaoFactory"/>
		<constructor-arg index="1" ref="instanceValidator"/>
	</bean>
	
	<!--bean id="templateDao" class="uk.co.revsys.objectology.dao.InMemoryOlogyObjectDao"/-->
	
	<!--bean id="instanceDaoFactory" class="uk.co.revsys.objectology.dao.InMemoryOlogyObjectDaoFactory"/-->
	
	<bean id="templateDao" class="uk.co.revsys.objectology.dao.mongo.MongoDao">
		<constructor-arg index="0" ref="mongoClient"/>
		<constructor-arg index="1" value="objectology"/>
		<constructor-arg index="2" value="uk.co.revsys.objectology.model.template.OlogyTemplate"/>
		<constructor-arg index="3" ref="jsonTemplateObjectMapper"/>
		<constructor-arg index="4" value="template"/>
	</bean>
	
	<bean id="instanceDaoFactory" class="uk.co.revsys.objectology.dao.mongo.MongoDaoFactory">
		<constructor-arg index="0" ref="mongoClient"/>
		<constructor-arg index="1" value="objectology"/>
		<constructor-arg index="2" ref="jsonObjectMapper"/>
		<constructor-arg index="3" value="uk.co.revsys.objectology.model.instance.OlogyInstance"/>
	</bean>
	
	<bean id="mongo" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg index="0" ref="mongoClient"/>
		<constructor-arg index="1" value="objectology"/>
	</bean>
	
	<bean id="mongoClient" class="com.mongodb.MongoClient">
		<constructor-arg index="0" value="localhost"/>
	</bean>
	
	<bean id="templateValidator" class="uk.co.revsys.objectology.service.OlogyTemplateValidator"/>
	
	<bean id="instanceValidator" class="uk.co.revsys.objectology.service.OlogyInstanceValidator"/>
	
	<bean id="xmlObjectMapper" class="uk.co.revsys.objectology.serialiser.ObjectMapper">
		<constructor-arg index="0" ref="xmlSerialiserFactory"/>
		<constructor-arg index="1" ref="xmlDeserialiserFactory"/>
	</bean>
    
    <bean id="xmlSerialiserFactory" class="uk.co.revsys.objectology.serialiser.xml.DefaultXMLSerialiserFactory"/>
	
	<bean id="xmlDeserialiserFactory" class="uk.co.revsys.objectology.serialiser.xml.DefaultXMLDeserialiserFactory">
		<constructor-arg index="0" ref="templateService"/>
	</bean>
	
	<bean id="jsonObjectMapper" class="uk.co.revsys.objectology.serialiser.ObjectMapper">
		<constructor-arg index="0" ref="jsonSerialiserFactory"/>
		<constructor-arg index="1" ref="jsonDeserialiserFactory"/>
	</bean>
	
	<bean id="jsonTemplateObjectMapper" class="uk.co.revsys.objectology.serialiser.ObjectMapper">
		<constructor-arg index="0" ref="jsonSerialiserFactory"/>
		<constructor-arg index="1" ref="jsonTemplateDeserialiserFactory"/>
	</bean>
	
	<bean id="jsonSerialiserFactory" class="uk.co.revsys.objectology.serialiser.json.DefaultJSONSerialiserFactory"></bean>
	
	<bean id="jsonDeserialiserFactory" class="uk.co.revsys.objectology.serialiser.json.DefaultJSONDeserialiserFactory">
		<constructor-arg index="0" ref="templateService"/>
	</bean>
	
	<bean id="jsonTemplateDeserialiserFactory" class="uk.co.revsys.objectology.serialiser.json.DefaultJSONDeserialiserFactory">
		<constructor-arg index="0"><null/></constructor-arg>
	</bean>
	
	<bean id="templateViewMap" class="uk.co.revsys.objectology.view.DefaultTemplateViewMap"/>
	
	<bean id="instanceViewMap" class="uk.co.revsys.objectology.view.DefaultInstanceViewMap"/>

</beans>
