<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <context:annotation-config/>
    
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:objectology.properties</value>
			</list>
		</property>
	</bean>
	
    <bean class="org.apache.wink.spring.Registrar">
        <property name="classes">
            <set value-type="java.lang.Class"/>
        </property>
        <property name="instances">
            <set>
                <bean class="uk.co.revsys.objectology.service.rest.TemplateRestService">
                    <constructor-arg index="0" ref="templateService"/>
                    <constructor-arg index="1" ref="templateLoader"/>
                    <constructor-arg index="2" ref="xmlObjectMapper"/>
                    <constructor-arg index="3" ref="jsonTemplateMapper"/>
                    <constructor-arg index="4" ref="templateViewMap"/>
                </bean>
                <bean class="uk.co.revsys.objectology.service.rest.InstanceRestService">
                    <constructor-arg index="0" ref="instanceService"/>
                    <constructor-arg index="1" ref="xmlObjectMapper"/>
                    <constructor-arg index="2" ref="jsonInstanceMapper"/>
                    <constructor-arg index="3" ref="instanceViewMap"/>
                </bean>
            </set>
        </property>
    </bean>
	
    <bean id="templateService" class="uk.co.revsys.objectology.service.OlogyTemplateServiceImpl">
        <constructor-arg index="0" ref="templateDao"/>
        <constructor-arg index="1" ref="templateValidator"/>
    </bean>
	
    <bean id="instanceService" class="uk.co.revsys.objectology.service.OlogyInstanceServiceImpl">
        <constructor-arg index="0" ref="instanceDaoFactory"/>
        <constructor-arg index="1" ref="instanceValidator"/>
    </bean>
	
    <!--bean id="templateDao" class="uk.co.revsys.objectology.dao.InMemoryOlogyObjectDao"/-->
	
    <!--bean id="instanceDaoFactory" class="uk.co.revsys.objectology.dao.InMemoryOlogyObjectDaoFactory"/-->
	
    <bean id="templateDao" class="uk.co.revsys.objectology.dao.mongo.MongoDao">
        <constructor-arg index="0" ref="mongoClient"/>
        <constructor-arg index="1" value="${db.name}"/>
        <constructor-arg index="2" value="uk.co.revsys.objectology.model.template.OlogyTemplate"/>
        <constructor-arg index="3" ref="jsonTemplateMapper"/>
        <constructor-arg index="4" value="template"/>
    </bean>
	
    <bean id="instanceDaoFactory" class="uk.co.revsys.objectology.dao.mongo.MongoDaoFactory">
        <constructor-arg index="0" ref="mongoClient"/>
        <constructor-arg index="1" value="${db.name}"/>
        <constructor-arg index="2" ref="jsonInstanceMapper"/>
        <constructor-arg index="3" value="uk.co.revsys.objectology.model.instance.OlogyInstance"/>
    </bean>
	
    <bean id="mongoClient" class="com.mongodb.MongoClient">
        <constructor-arg index="0" value="${db.host}"/>
    </bean>
	
    <bean id="templateValidator" class="uk.co.revsys.objectology.service.OlogyTemplateValidator"/>
	
    <bean id="instanceValidator" class="uk.co.revsys.objectology.service.OlogyInstanceValidator"/>
	
    <bean id="xmlObjectMapper" class="uk.co.revsys.objectology.mapping.xml.XMLObjectMapper">
        <constructor-arg index="0" ref="xmlSerialiserFactory"/>
        <constructor-arg index="1" ref="xmlDeserialiserFactory"/>
    </bean>
    
    <bean id="xmlSerialiserFactory" class="uk.co.revsys.objectology.serialiser.xml.DefaultXMLSerialiserFactory"/>
	
    <bean id="xmlDeserialiserFactory" class="uk.co.revsys.objectology.serialiser.xml.DefaultXMLDeserialiserFactory">
        <constructor-arg index="0" ref="templateService"/>
    </bean>
	
    <bean id="jsonInstanceMapper" class="uk.co.revsys.objectology.mapping.json.JsonInstanceMapper">
        <constructor-arg index="0" ref="sequenceGenerator"/>
    </bean>
	
    <bean id="jsonTemplateMapper" class="uk.co.revsys.objectology.mapping.json.JsonTemplateMapper">
    </bean>
	
    <bean id="templateViewMap" class="uk.co.revsys.objectology.view.DefaultTemplateViewMap"/>
	
    <bean id="instanceViewMap" class="uk.co.revsys.objectology.view.DefaultInstanceViewMap"/>
    
    <bean id="resourceProvider" class="uk.co.revsys.resource.repository.provider.ResourceProvider">
        <constructor-arg index="0" ref="templateRepository"/>
        <constructor-arg index="1" value="${resources.path}"/>
        <constructor-arg index="2" ref="templateFilter"/>
        <constructor-arg index="3" ref="templateLoader"/>
    </bean>
    
    <!--bean id="templateRepository" class="uk.co.revsys.resource.repository.LocalDiskResourceRepository">
        <constructor-arg index="0" value="${resources.path}"/>
    </bean-->
    
    <bean id="templateRepository" class="uk.co.revsys.resource.repository.cloud.JCloudResourceRepository">
		<constructor-arg index="0" ref="blobStore"/>
		<constructor-arg index="1" value="${cloud.container}"/>
	</bean>
	
	<bean id="contextBuilder" class="org.jclouds.ContextBuilder" factory-method="newBuilder">
        <constructor-arg value="${cloud.type}"/>
    </bean>

    <bean id="contextBuilderWithCreds" factory-bean="contextBuilder" factory-method="credentials">
        <constructor-arg  value="${cloud.identity}"/>
        <constructor-arg  value="${cloud.credential}"/>
    </bean>
	
	<bean id="blobStoreContext" factory-bean="contextBuilderWithCreds" factory-method="buildView">
        <constructor-arg>
            <value>org.jclouds.blobstore.BlobStoreContext</value>
        </constructor-arg>
    </bean>
 
	<bean id="blobStore" factory-bean="blobStoreContext" factory-method="getBlobStore"/>
    
    <bean id="templateFilter" class="uk.co.revsys.resource.repository.provider.filter.ExtensionFilter">
        <constructor-arg index="0" value=".xml"/>
    </bean>
    
    <bean id="templateLoader" class="uk.co.revsys.objectology.service.TemplateLoader">
        <constructor-arg index="0" ref="templateService"/>
        <constructor-arg index="1" ref="xmlObjectMapper"/>
    </bean>
    
    <bean id="sequenceGenerator" class="uk.co.revsys.objectology.dao.mongo.MongoSequenceGenerator">
        <constructor-arg index="0" ref="mongoClient"/>
        <constructor-arg index="1" value="objectology"/>
        <constructor-arg index="2" value="sequence"/>
    </bean>

</beans>
